/* app styles */
body, html {
  background: url('/images/background_repeat.jpg') repeat-x;
  height: 100%;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.content {
  background: #fff;
  padding: 20px 40px;
  margin-top: 50px;
  height: 100%;

  nav {
    margin: 20px 0;
  }

  .view {
    height: 100%;
  }
}

.lg-grid {
  width: auto;
  height: auto;
}