<div class="content">
	<img src="/images/logo.png">
    <div class="row">
        <div class="col-xs-12">
			<nav>
            	<lg-navigation></lg-navigation>
			</nav>
        </div>
    </div>
	<div class="view">
        <ng-view></ng-view>
	</div>
</div>